<section class="login offline-404 p-fixed d-flex text-center">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- auth body start -->
        <div class="auth-body">
          <form action="javascript:">
            <h1>Error</h1>
            <h2>Oops! El módulo ingresado no se encuentra o no tiene permisos para acceder.</h2>
          
            <a [routerLink]="['/tablero']" class="btn btn-primary btn-lg m-t-30">Volver al tablero </a>
          </form>
        </div>
        <!-- auth body end -->
      </div>
    </div>
  </div>
</section>